# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
venv/
.env

# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild
.cxx
android/app/build/
android/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Database
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
